
<div class="m-x-auto p-a-2" style="width: 960px;">
  <div class="m-5">
    <div *ngIf="updateEnabled">
      Stock Code: <input matInput #updateCode [value]="selectedStock.stockCode"/>
      Stock Name: <input matInput #updateName [value]="selectedStock.name"/>
      <button type="button" class="m-lg-5" (click)="updateStock(updateCode.value, updateName.value)" mat-raised-button color="accent">
        Update
      </button>
    </div>
    <table class="table table-striped table-inverse table-hover table-sm center">
      <thead>
      <tr>
        <th>#</th>
        <th>OPERATIONS</th>
        <th>NAME</th>
        <th>STOCK CODE</th>
      </tr>
      </thead>

      <tr *ngFor="let stock of stocks">
        <td>{{stock.id}}</td>
        <td>
          <button type="button" mat-raised-button color="basic" (click)="loadDetails(stock)">Edit</button>
          <button type="button" mat-raised-button color="warn" (click)="removeStock(stock.id)">Remove</button>
        </td>
        <td>{{stock.name}}</td>
        <td>{{stock.stockCode}}</td>
      </tr>
    </table>

    <hr>
    <h2>Add Stock</h2>
    Stock Code: <input #newCode/>
    Stock Name: <input #newName/>
    <button type="button" mat-raised-button color="primary" (click)="addStock(newCode.value, newName.value)">Add
    </button>
    <div class="jumbotron">
      <h1 class="display-3">Finance</h1>
      <p class="lead">Stocks, Bonds, Mutual Funds</p>
      <hr class="m-y-2">
      <p class="lead">
        <a mat-raised-button color="primary" href="#" role="button" (click)="createStock">Start</a>
      </p>
    </div>
  </div>
</div>
